@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  background-color: #1e1e1e;
  color: #f5f5f5;
  width: 400px;
  max-height: 600px;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#popup-content {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  display: flex;
  align-items: center;
}

.top-bar a {
  margin: 0 7px;
  color: #007acc;
}

h1 {
  text-align: center;
  color: #f5f5f5;
  margin-bottom: 15px;
  margin-top: 5px;
}

.input-group {
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #cccccc;
}

.button-container,
.input-container {
  display: flex;
  align-items: center;
}

input {
  width: calc(100% - 50px);
  padding: 8px;
  background-color: #3b3b3b;
  color: #cccccc;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  height: 32px;
  padding: 0 7px;
  background-color: #007acc;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #005f99;
}

.stepFramesBtn {
  height: 25px;
  width: 30px;
  background-color: #007acc;
  margin: 10px;
}

.backwards-sign,
.forwards-sign {
  font-size: 13px;
}

.step-frames-value {
  width: 40px;
  height: 25px;
  text-align: center;
  outline: none;
  box-sizing: border-box;
}

.step-frames-value::-webkit-outer-spin-button,
.step-frames-value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.step-frames-value {
  appearance: none;
  -moz-appearance: textfield; /* Hide arrows in Firefox */
}

#output {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

#resultMessage {
  font-size: 14px;
  width: calc(100% - 50px);
  padding: 8px;
  background-color: #3b3b3b;
  color: #cccccc;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  width: 100%;
  max-height: 200px;
  min-height: 50px;
}

#copyBtn {
  margin-top: 10px;
  background-color: #007acc;
  display: inline-block;
}

#errorContainer {
  color: #f73d3d;
}

.hidden {
  display: none !important;
}
